//Формы
mixin input-tel(object)
    input.input-text(type='text' name='tel' required=object.required ? true: false placeholder = object.placeholder ? object.placeholder: 'Ваш телефон')

mixin input-name(object)
    input.input-text(type='text' name='name' required=object.required ? true: false placeholder = object.placeholder ? object.placeholder: 'Ваше имя')

mixin input-email(object)
    input.input-text(type='text' name='email' required=object.required ? true: false placeholder = object.placeholder ? object.placeholder: 'Ваша почта')
mixin input-area(object)
    textarea.input-text(placeholder="Ваш комментарий..")
mixin input-submit(object)
    input.input-submit(type='submit' class=object.style value = object.value ? object.value: 'Отправить')


//Графика
mixin setImg(object)
    picture
        source(srcset=object.webp media="(min-width: 767px)" alt=object.alt type='image/webp')
        source(srcset=object.mWebp media="(min-width: 0) and (max-width: 767px)" alt=object.alt type='image/webp')
        img(src=object.img srcset=mImg + ' 767w' alt=object.alt)

mixin setSvg(object)
    svg.icon
        use(xlink:href='images/skipped-optim.svg#' + object.name)

//Текстовка
mixin sectionTitle(object)
    h2.section-title !{object.text}

mixin sectionSubTitle(object)
    span.section-subtitle !{object.text}

mixin formTitle(object)
    h6.form-title !{object.text}
mixin formText(object)
    p.form-text !{object.text}
mixin formPolice(object)
    p.form-police !{object.text}



mixin servicesItems(object)
    .services-list__item-wrapper
        a(href=object.link).services-list__item
            .services-list__item-icon
                +setSvg({name: object.icon})
            .services-list__item-data
                .services-list__item-title !{object.title}
                p.services-list__item-text !{object.text}


mixin whoWorkStep(object)
    .section-whoWork__step
        .section-whoWork__step-inner
            .section-whoWork__step-header
                img(src=object.img).section-whoWork__step-img
                .section-whoWork__step-row
                    .section-whoWork__step-number !{object.number}
                    .section-whoWork__step-title !{object.title}
                p.section-whoWork__step-text !{object.text}
            .section-whoWork__step-body
                button.section-whoWork__step-btn.btn.btn-simple.popup-open Оставить заявку


mixin letterSlide(object)
    .section-letter__slide
        a(href=object.bigimg data-fancybox='gallery' data-caption="My caption" data-type="image").section-letter__slide-inner
            img(src=object.img).section-letter__slide-img

mixin footerSocial(object)
    li.footer__social-item
        a(href=object.link).footer__social-link
            +setSvg({name: object.icon})

mixin socialItem(object)
    .block-socials__item
        .block-socials__item-inner
            img(src=object.src).block-socials__icon


mixin reviewsSlide(object)
    .section-reviews__slide
        .section-reviews__slide-inner
            .section-reviews__slide-header
                .section-reviews__slide-avatar
                    img(src=object.src).icon
                .section-reviews__slide-header-data
                    .section-reviews__slide-name !{object.name}
                    .section-reviews__slide-city !{object.city}
            .section-reviews__slide-body
                .section-reviews__slide-text !{object.text}

mixin technologistItem(object)
    li.section-technologist__item
        .section-technologist__item-inner
            .section-technologist__item-icon
                img(src=object.src).icon
            .section-technologist__item-text !{object.text}


mixin portfolioSiteSlide(object)
    .section-site-portfolio__slide
        a(href=object.link).section-site-portfolio__slide-inner
            img(src=object.src).section-site-portfolio__slide-img
