extends base/_layout
block head
    title Бесплатные переводы
block page
    section(id='first-section').section-free-translate
        .container
            .section-free-translate__inner
                .block-intro
                    h2.block-intro__title(data-aos='fade-up' id='intro-title') Переводы любой сложности
                    .block-intro__subtitle(data-aos='fade-down' data-aos-delay='500' data-aos-anchor='#intro-title') Переводы любой сложности
                    .block-intro__form.block-intro__form_bg(data-aos='fade-down' data-aos-delay='800' data-aos-anchor='#intro-title')
                        .block-intro__row
                            .block-intro__col
                                +input-name({placeholder: 'Как вас зовут?'})
                            .block-intro__col
                                +input-email({placeholder: 'Ваш Email'})
                            .block-intro__col
                                +input-submit({value: 'Оставить заявку'})
    section.section-advantages-translate
        .container
            .section-advantages-translate__inner
                .block-cart
                    .block-cart__list
                        +cartCol_3({
                            src: 'images/content/section-advantages-translate/0.svg',
                            title: 'Цена',
                            text: 'От 200 р за страницу'
                        })
                        +cartCol_3({
                            src: 'images/content/section-advantages-translate/1.svg',
                            title: 'Языки',
                            text: 'Самая большая база профессиональных переводчиков из СНГ и носителей языка'
                        })
                        +cartCol_3({
                            src: 'images/content/section-advantages-translate/2.svg',
                            title: 'Профессионализм',
                            text: 'В штате работают узкопрофильные специалисты'
                        })
                        +cartCol_3({
                            src: 'images/content/section-advantages-translate/3.svg',
                            title: 'Культуры',
                            text: 'Перевод с учетом менталитета'
                        })
                        +cartCol_3({
                            src: 'images/content/section-advantages-translate/4.svg',
                            title: 'Deadline',
                            text: 'Сроки строго фиксируются где-то'
                        })
                        +cartCol_3({
                            src: 'images/content/section-advantages-translate/5.svg',
                            title: 'Поддержка',
                            text: 'Связь с менеджером проекта'
                        })


    section.section-translate-thems
        .container
            .section-translate-thems__inner
                h2.section-translate-thems__title(data-aos='fade-up') Разная тематика
                .section-translate-thems__data
                    ul.section-translate-thems__list
                        +translateItem({src: 'images/content/section-translate-thems/0.jpg', title: 'Сайты'})
                        +translateItem({src: 'images/content/section-translate-thems/1.jpg',title: 'Маркетинговые материалы'})
                        +translateItem({src: 'images/content/section-translate-thems/2.jpg',title: 'Техническая документация'})
                        +translateItem({src: 'images/content/section-translate-thems/3.jpg', title: 'Игры'})
                        +translateItem({src: 'images/content/section-translate-thems/4.jpg',title: 'Художественные переводы'})
                        +translateItem({src: 'images/content/section-translate-thems/5.jpg',title: 'Документы и договоры'})
                        +translateItem({src: 'images/content/section-translate-thems/6.jpg', title: 'Видео и реклама'})
                        +translateItem({src: 'images/content/section-translate-thems/7.jpg', title: 'Копирайтинг'})
                        +translateItem({src: 'images/content/section-translate-thems/8.jpg', title: 'Медицина и фарма'})

    section.section-translate-price
        .container
            .section-translate-price__inner
                h2.section-translate-price__title(data-aos='fade-up') Выбор тарифа
                ul.section-translate-price__list

                    //ITEM PRICE START
                    .section-translate-price__item.section-translate-price__item_blue.popup-open
                        .section-translate-price__item-inner
                            .section-translate-price__item-header
                                img(src='images/content/section-translate-price/0.svg').section-translate-price__item-icon
                                .section-translate-price__item-header-data
                                    .section-translate-price__item-title Стандарт
                                    .section-translate-price__item-price от 60 000 ₽
                            .section-translate-price__item-body
                                ul.section-translate-price__item-list
                                    +list({src: 'images/content/section-translate-price/blue.svg', title: 'Какойто текст', listClass: 'section-translate-price__item-list-item_blue'})
                                    +list({src: 'images/content/section-translate-price/blue.svg', title: 'Какойто текст', listClass: 'section-translate-price__item-list-item_blue'})
                                    +list({src: 'images/content/section-translate-price/blue.svg', title: 'Какойто текст', listClass: 'section-translate-price__item-list-item_blue'})
                                    +closeList()
                                    +closeList()
                                    +closeList()
                            .section-translate-price__item-btn-wrapper
                                button.section-translate-price__item-btn.open-popup
                                    .section-translate-price__item-arrow-normal
                                        +setSvg({name: 'lineArrow-right'})
                                    .section-translate-price__item-arrow-hover
                                        +setSvg({name: 'lineArrow2-right'})
                                    .section-translate-price__item-arrow-bg
                                        +setSvg({name: 'line-bg'})

                    //ITEM PRICE END

                    //ITEM PRICE START
                    .section-translate-price__item.section-translate-price__item_green.popup-open
                        .section-translate-price__item-inner
                            .section-translate-price__item-header
                                img(src='images/content/section-translate-price/1.svg').section-translate-price__item-icon
                                .section-translate-price__item-header-data
                                    .section-translate-price__item-title Экспресс
                                    .section-translate-price__item-price от 60 000 ₽
                            .section-translate-price__item-body
                                ul.section-translate-price__item-list
                                    +list({
                                        src: 'images/content/section-translate-price/green.svg',
                                        title: 'Какойто текст',
                                        listClass: 'section-translate-price__item-list-item_green'
                                    })
                                    +list({
                                        src: 'images/content/section-translate-price/green.svg',
                                        title: 'Какойто текст',
                                        listClass: 'section-translate-price__item-list-item_green'
                                    })
                                    +list({
                                        src: 'images/content/section-translate-price/green.svg',
                                        title: 'Какойто текст',
                                        listClass: 'section-translate-price__item-list-item_green'
                                    })
                                    +closeList()
                                    +closeList()
                                    +closeList()
                            .section-translate-price__item-btn-wrapper
                                button.section-translate-price__item-btn.popup-open
                                    .section-translate-price__item-arrow-normal
                                        +setSvg({name: 'lineArrow-right'})
                                    .section-translate-price__item-arrow-hover
                                        +setSvg({name: 'lineArrow2-right'})
                                    .section-translate-price__item-arrow-bg
                                        +setSvg({name: 'line-bg'})
                    //ITEM PRICE END

                    //ITEM PRICE START
                    .section-translate-price__item.section-translate-price__item_yellow.popup-open
                        .section-translate-price__item-inner
                            .section-translate-price__item-header
                                img(src='images/content/section-translate-price/2.svg').section-translate-price__item-icon
                                .section-translate-price__item-header-data
                                    .section-translate-price__item-title Профи
                                    .section-translate-price__item-price от 60 000 ₽
                            .section-translate-price__item-body
                                ul.section-translate-price__item-list
                                    +list({
                                        src: 'images/content/section-translate-price/yellow.svg',
                                        title: 'Какойто текст',
                                        listClass: 'section-translate-price__item-list-item_yellow'
                                    })
                                    +list({
                                        src: 'images/content/section-translate-price/yellow.svg',
                                        title: 'Какойто текст',
                                        listClass: 'section-translate-price__item-list-item_yellow'
                                    })
                                    +list({
                                        src: 'images/content/section-translate-price/yellow.svg',
                                        title: 'Какойто текст',
                                        listClass: 'section-translate-price__item-list-item_yellow'
                                    })
                                    +closeList()
                                    +closeList()
                                    +closeList()
                            .section-translate-price__item-btn-wrapper
                                button.section-translate-price__item-btn.popup-open
                                    .section-translate-price__item-arrow-normal
                                        +setSvg({name: 'lineArrow-right'})
                                    .section-translate-price__item-arrow-hover
                                        +setSvg({name: 'lineArrow2-right'})
                                    .section-translate-price__item-arrow-bg
                                        +setSvg({name: 'line-bg'})
                    //ITEM PRICE END

                    //ITEM PRICE START
                    .section-translate-price__item.section-translate-price__item_oranj.popup-open
                        .section-translate-price__item-inner
                            .section-translate-price__item-header
                                img(src='images/content/section-translate-price/3.svg').section-translate-price__item-icon
                                .section-translate-price__item-header-data
                                    .section-translate-price__item-title Премиум
                                    .section-translate-price__item-price от 60 000 ₽
                            .section-translate-price__item-body
                                ul.section-translate-price__item-list
                                    +list({
                                        src: 'images/content/section-translate-price/oranj.svg',
                                        title: 'Какойто текст',
                                        listClass: 'section-translate-price__item-list-item_oranj'
                                    })
                                    +list({
                                        src: 'images/content/section-translate-price/oranj.svg',
                                        title: 'Какойто текст',
                                        listClass: 'section-translate-price__item-list-item_oranj'
                                    })
                                    +list({
                                        src: 'images/content/section-translate-price/oranj.svg',
                                        title: 'Какойто текст',
                                        listClass: 'section-translate-price__item-list-item_oranj'
                                    })
                                    +closeList()
                                    +closeList()
                                    +closeList()
                                .section-translate-price__item-btn-wrapper
                                    button.section-translate-price__item-btn.popup-open
                                        .section-translate-price__item-arrow-normal
                                            +setSvg({name: 'lineArrow-right'})
                                        .section-translate-price__item-arrow-hover
                                            +setSvg({name: 'lineArrow2-right'})
                                        .section-translate-price__item-arrow-bg
                                            +setSvg({name: 'line-bg'})
                    //ITEM PRICE END

    section.section-translate-process
        .container
            .section-translate-process__inner
                h2.section-translate-process__title(data-aos='fade-up') Процесс работы
                .section-translate-process_data
                    //BLOCK INFORMATION START
                    .block-information.block-information_revers
                        .block-information__col(data-aos='fade-left')
                            img(src='images/content/section-translate-process/0.jpg').block-information__img
                        .block-information__col(data-aos='fade-right')
                            h3.block-information__title.block-information__title_active Заполните форму
                            .block-information__subtitle ВЗагрузим менеджеров по продажам теплыми звонками, встречами и сделками.
                    //BLOCK INFORMATION END

                    //BLOCK INFORMATION START
                    .block-information.block-information_revers(data-aos='fade-up')
                        .block-information__col
                            img(src='images/content/section-translate-process/1.jpg').block-information__img
                        .block-information__col
                            h3.block-information__title.block-information__title_active С вами свяжется менеджер
                            .block-information__subtitle Загрузим менеджеров по продажам теплыми звонками, встречами и сделками.
                    //BLOCK INFORMATION END

                    //BLOCK INFORMATION START
                    .block-information.block-information_revers
                        .block-information__col(data-aos='fade-left')
                            img(src='images/content/section-translate-process/2.jpg').block-information__img
                        .block-information__col(data-aos='fade-right')
                            h3.block-information__title.block-information__title_active С Утверждение ТЗ
                            .block-information__subtitle Загрузим менеджеров по продажам теплыми звонками, встречами и сделками.
                    //BLOCK INFORMATION END
    section.section-helpYou
        .container
            .section-helpYou__inner
                h2.section-helpYou__title(data-aos="fade-up") Мы поможем вашему бизнесу
                form.section-helpYou__form.form-block.form-submit(data-aos="fade-down")
                    .form-block__header
                        .section-helpYou__form-title
                            +formTitle({text: 'Оставьте заявку'})
                        .section-helpYou__form-text
                            +formText({text: 'и получите <span class="text-active">бесплатные услуги</span> от команды <span class="text-medium">Likwid</span>'})
                    .form-block__body
                        .form-block__row
                            .form-block__col
                                +input-name({placeholder: 'Как вас зовут?'})
                            .form-block__col
                                +input-email({placeholder: 'Ваш Email'})
                        .form-block__row
                            +input-area()
                    .section-helpYou__form-footer
                        .section-helpYou__form-submit
                            +input-submit({value: 'Оставить заявку'})
                        .section-helpYou__form-police
                            +formPolice({text: '*Нажимая на кнопку \"Оставить заявку\", вы соглашаетесь с <a href="police.html" class="text-link">политикой конфиденциальности</a>'})

    include sections/popup
mixin cartCol_3(object)
    //ITEM START
    .block-cart__item.block-cart__item_3(data-aos='fade-up')
        .block-cart__item-inner.block-cart__item-inner_noneBg.block-cart__item-inner_paddingSmall
            .block-cart__icon
                img(src=object.src).icon
            .block-cart__data
                .block-cart__title !{object.title}
                .block-cart__text.block-cart__text_small !{object.text}
    //ITEM END


mixin translateItem(object)
    li.section-translate-thems__item(data-aos='fade-down')
        .section-translate-thems__item-inner.popup-open
            img(src=object.src).section-translate-thems__item-img
            h4.section-translate-thems__item-title !{object.title}


mixin list(object)
    li(class=object.listClass).section-translate-price__item-list-item
        img(src=object.src).icon
        span.text !{object.title}

mixin closeList(object)
    li().section-translate-price__item-list-item
        img(src='images/content/section-translate-price/close.svg').icon
        span.text Какойто текст
